/* Eric Meyer Reset CSS File */

@import url("reset.css");

/* Template Layout CSS */

body
{
	/* background: #D4D0C9;
	font-family: Helvetica, Arial, sans-serif;
	color: #4B4C4D;
	padding: 20px;
	font-size: 14px;
  */
  margin: 0;
  padding: 0;
  height: 100%;
}

a
{
  /*color: #203351;*/
  font-weight:bold;
}
a:hover
{
  /*color: #5C5E61;*/
  font-weight:bold;
}
p { margin: 0 0 15px 0; }

h1, h2 { font-weight: bold; font-size: 24px; margin: 0 0 15px 0; color: #203351; }
h3, h4, h5  { font-weight: bold; font-size: 18px; margin: 0 0 15px 0; color: #203351; }


/* Start Wrapper Container */

#wrapper
{
  height: auto;
  min-height: 100%;
}

/* End Wrapper Container */


/* Start Header Styles */

#header
{
  margin-top: .5em;
}
#header hr
{    
  margin-top: .5em;
  margin-bottom: .5em;
}

header
{
  padding: 0px;
}
header h1
{
	font-size: 24;
	font-weight: bold;
	letter-spacing: -2px;
}

/* Start Nav Styles */

nav
{
  float: right;
  vertical-align: middle;
}

nav ul.menu li
{
	display: inline;
  padding-top: 1.8em;
  padding-bottom: 1.8em;
}

nav ul.menu li a
{
	float: left;
	line-height: 30px;
	padding: 0 20px;
	font-weight: bold;
}

nav ul.menu li a.active
{
	color: #203351;
}

/*
nav ul.menu li a:hover
{
	color: #7B6030;
}
*/

/* End Nav Styles */



/* End Header Styles */




/* Start Main Styles */

section#main
{
	width: 940px;
	line-height: 24px;
}

section#content
{
	/*width: 560px;*/
  min-height:100%;
  position: relative;
}

/* End Main Styles */

/* Image Styles */

.base-image img {
  margin-bottom: 5px;
  max-height: 480px;
}
.base-image span {
  font-size: .9em;
  font-style: italic;
}
.page_pic {
    margin-bottom: 20px;
}

.page_pic img {
    display: block;
    max-width: 100%;
}
.page_pic.right {
    float: right;
    margin-left: 20px;
    text-align: right;
}
.page_pic.left {
    float: left;
    margin-right: 20px;
    text-align: left;
}
.page_pic.top {
    text-align: right;
}
.page_pic.top img {
    margin-bottom: 5px;
}
.page_pic img {
    margin-top: 5px;
    display: block;
}

/* End Image Styles */

/* Start Footer Styles */

#footer
{
  margin-top: .5em;
  font-size: 12px;
}
#footer hr
{    
  margin-top: .5em;
  margin-bottom: .5em;
}

#footer a
{
	font-weight: bold;
}

#about_site
{
  text-align: left;
}

#copyright
{
  text-align: right;
}

#github
{
  text-align: center;
}

/* End Footer Styles */

