<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhml" xml:lang="en" lang="en">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<head>
    <title>{{ site.title }} - {{ page.title }}</title>

    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-cyborg.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script type="text/javascript" src="/js/jquery-1.8.2.min.js" ></script>
    {% block extrahead %}{% endblock %}
</head>

<body>
<div id="header">
  <div class="container">

    <!--
    <div class="row">
      <div class="span5">
          <span id="maintitle">
            <a href="/">Chance Zibolski</a>
          </span>
      </div>
      -->

        <div class="navbar navbar-inverse">
          <div class="container">
            <a class="brand" href="/">Chance Zibolski</a>
            <div class="nav-collapse pull-right">
              <ul class="nav">
              {%- for nav in site.tags['_nav']|sort(attribute='nav_weight') %}
                {%- if nav.url == page.url %}
                <li class="active"><a href="{{ nav.url }}" class="active">{{ nav.title }}</a></li>
                {%- else %}
                <li><a href="{{ nav.url }}">{{ nav.title }}</a></li>
                {%- endif %}
              {%- endfor %}
              </ul>
            </div>
          </div>
        </div>

    </div>

    <hr />

  </div>
</div>

<div class="main container">
  {% block page_header %}{% endblock %}

    <div class="base-image">
        {% if page.image %}
            <div class="page_pic {{ page.image.where }}" style="
                    {% if page.image.width %}max-width: {{page.image.width}};{% endif %}
                    {% if page.image.height %}max-height: {{page.image.height}};{% endif %}">
                <img src="{{ page.image.url }}" />
                {% if page.image.caption %}
                    <span>{{ page.image.caption }}</span>
                {% endif %}
            </div>
        {% endif %}
    </div>

    {% block content %}
    {% endblock %}
</div>


<div id="footer">
  <div class="container">
    <div class="row">
      <hr />
      <span id="about_site" class="span4">
        This website was made using <a href="http://github.com/mythmon/wok">Wok</a>
      </span>
      <span id="github" class="span4">
        My <a href="http://github.com/ecnahc515/" target="_blank">Github</a>
      </span>
      <span id="copyright" class="span4">
        &copy; Copyright <a href="/">Chance Zibolski</a>
      </span>
    </div>
  </div>
</div>


<script type="text/javascript">
  //google analytics
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-35737289-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>
